<div data-role="page">
  <div data-role="header">
    <h1>Machete's Tasklist</h1>
  </div>
  <div data-role="content">
    <div class="todo-add-form">
      <input type="text" name="item" placeholder="Create new item ..."/>
      <button class="add-item" class="ui-block-b" data-icon="plus">Add</button>
    </div>
    <fieldset class="items" data-role="controlgroup">
    </fieldset>
  </div>
</div>
