<div data-role="page">
  <div data-role="header">
    <a data-rel="back" data-icon="arrow-l">Back</a>
    <h1>{{name}}</h1>
    <a class="remove-list" data-icon="delete" data-iconpos="right">Delete</a>
  </div>
  <div data-role="content">
    <div class="todo-add-form">
      <input type="text" name="item" placeholder="Create new item ..."/>
      <button class="add-item" class="ui-block-b" data-icon="plus">Add</button>
    </div>
    <fieldset class="items" data-role="controlgroup">
    </fieldset>
  </div>
</div>
